<table id="list">
    <thead>
      <tr>
        <th>Weeks</th>
        <br>
        <br>
        <th>This weeks Goal!</th>
        <th></th>
      </tr>
    </thead>
    <tbody>

      </tbody>
    </table>