<form id="new-form" action="/weeks" method="POST">
    <label>Week:</label>
    <input text="text" name="Week">
    <label>This weeks Goal!:</label>
    <input type="text" name="Goal">
    <label>Projected Days working out this week.</label>
    <select name="Total Days">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
    </select>
    <input type="submit" value="Add New Week">
  </form>
  