<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../partials/header') %>
</head>
<body>
    <h2>Enter a new week!</h2>
    <form id="new-form" action="/weeks" method="POST">
        <label>Week:
            <input text="text" name="week">
        </label><br>
        <label>This weeks Goal!:
            <input type="text" name="goal">
        </label><br>
        <label>Projected Days working out this week.
            <select name="totalDays">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
              </select>
        </label><br>

        <input type="submit" value="Add New Week">
      </form>
    
</body>
</html>