<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/workouts/new">Add Week/Workouts!</a>
    <a href="/workouts">All Weeks</a>
  </body>
</html>
