* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #1f2122;
}


ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


button{
  border: none;
  margin: vmin;
  border-radius: 5vmin; 
  justify-content: center;
  outline: none;
}


nav > img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
} 

.login img {
  height: 30px;
}

/* 
.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
} */



/* * {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #1009da;
}


body > nav {
  grid-area: nav;
  background-color: #38d633;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
} */
